<div class="container" style="background-color:rgb(154, 163, 173); width: 600px; height: auto; padding-bottom: 10px;">
    <h3>Centro de mensajes</h3>
    <br>
    <div id="porcentaje"></div>
    <br>
    <input type="email" id="email" placeholder="Ingrese su email" required><label id="warning" style="color:red;"></label>
    <br>
    <input type="text" id="nombre" placeholder="Ingrese su nombre" required><label id="warning" style="color:red;"></label>
    <br>
    <input type="text" id="apellido" placeholder="Ingrese su apellido" required><label id="warning" style="color:red;"></label>
    <br>
    <input type="number" id="edad" placeholder="Ingrese su edad" required><label id="warning" style="color:red;"></label>
    <br>
    <input type="text" id="alias" placeholder="Ingrese su alias" required><label id="warning" style="color:red;"></label>
    <br>
    <input type="text" id="avatar" placeholder="Ingrese su avatar" required><label id="warning" style="color:red;"></label>
    <hr size="5px">
    <div id="chat"></div>
    <input type="text" id="texto">
    <button type="button" id="enviar">Enviar</button>
</div>