<div class="container" style="background-color:rgb(154, 163, 173); width: 600px; height: auto; padding-bottom: 10px;">
    <label for="">
        Bienvenido
        <%= persona %>
    </label>
    <a class="btn btn-primary" href="/logout">Logout</a>
</div>